:root {
  /* Colors */
  --white: #fff;
  --black: #131517;
  --gray: #ddd;
  --gray-dark: #888;
  --gray-light: #f3f3f5;
  --gray-text: #444;
  --red: #e34e46;
  --blue: #186bf0;
  --green: #2c9e72;
  --yellow: #efa941;
  --bg-color: #fdfdfd;

  --main: #8546e3;
}

$font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-mono: ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1000px) {
    @content;
  }
}

html {
  font-size: 10px;
}

@media (min-width: 1800px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 2100px) {
  html {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-size: 1.8rem;
  line-height: 1.4;
  font-family: $font-family;
  padding-bottom: 30vh;
  padding-bottom: 30svh;
  min-height: 130vh;
  min-height: 130svh;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

// -------- TYPOGRAPHY -------- //

a,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  border-bottom: 1px solid var(--gray);
  color: var(--black);
  transition: 250ms color, border 250ms;
}

a:hover {
  color: var(--main);
  border-bottom-color: var(--gray-dark);
}

code {
  background: none;
  border: 0;
  font-size: 0.9em;
  padding: 0;
}

h1 {
  font-weight: 300;
  margin-bottom: 2rem;

  span {
    color: var(--main);
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--main);
}

.intro {
  margin-bottom: 4rem;
  max-width: 55rem;
}

code {
  font-family: $font-family-mono;
  background-color: var(--gray-light);
  padding: 0.1rem 0.4rem;
  margin: -0.1rem -0.2rem;
  display: inline-block;
  border-radius: 0.2rem;
  color: var(--main);
  font-size: 1.6rem;
}

pre {
  font-family: $font-family-mono;
  background-color: var(--gray-light);
  font-size: 1.6rem;
  border-radius: 0.2rem;
  padding: 1rem;
  overflow: auto;
  width: 100%;
  color: var(--gray-text);
  margin: 1rem 0;

  .c {
    color: var(--main);
  }

  .m {
    color: var(--green);
  }

  .s {
    color: var(--blue);
  }
}

// -------- LAYOUT -------- //

.content {
  padding: 4rem 2rem;
  max-width: 60rem;
  margin: 0 auto;

  @include lg {
    padding: 4rem;
    max-width: 120rem;
  }
}

.demo {
  @include lg {
    display: flex;
    gap: 4rem;
  }
}

// -------- TOGGLES -------- //

.toggles {
  margin-bottom: 4rem;

  @include lg {
    flex: 50% 0 0;
  }
}

.toggles-title {
  font-weight: bold;
  margin: 2rem 0 0.8rem;
  font-size: 1.5rem;
}

.toggles-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.toggle {
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 3rem;
  padding: 0.8rem 0;
  display: block;
  font-size: 1.5rem;
  color: var(--main);
  cursor: pointer;
  transition: background 250ms;
  min-width: 24rem;

  @include md {
    min-width: 0;
    flex: calc(50% - 0.5rem) 0 1;
  }

  &:hover {
    background-color: var(--gray-light);
  }
}

.toggle--enabled {
  border-color: var(--main);
}

.toggles-note {
  color: var(--gray-dark);
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
  max-width: 34rem;

  @include md {
    max-width: 100%;
  }
}

// -------- LOG -------- //

.log {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24vh;
  height: 24svh;
  overflow-y: auto;
  border-top: 1px solid var(--gray);
  background-color: rgba(255, 255, 255, 0.8);

  font-size: 1.3rem;

  @include md {
    font-size: 1.5rem;
    height: 30vh;
    height: 30svh;
  }
}

.log-title {
  font-family: $font-family;
  font-weight: bold;
}

.log-content {
  font-family: $font-family-mono;
  padding: 2rem;
  max-width: 60rem;
  margin: 0 auto;

  @include lg {
    max-width: 120rem;
    padding: 4rem;
  }
}

.log-separator {
  align-items: center;
  color: var(--gray-dark);
  font-size: 1.2rem;
  position: relative;
  display: flex;
  flex: auto 1 0;

  @include md {
    margin: 0.3rem 0;
  }
}

.log-separator-line {
  margin-right: 0.5rem;
  border-bottom: 1px solid var(--gray-light);
  flex: auto 1 0;
}

// -------- TABLE -------- //

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 0 2rem;
  margin: 0 -2rem;

  @include lg {
    flex: 50% 0 1;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: 1.5rem;
  text-align: left;
}

td {
  border-top: 1px solid var(--gray);
  font-size: 1.5rem;
}

th:not(:last-child),
td:not(:last-child) {
  padding: 0.8rem 1rem 0.8rem 0;
}

td:first-child {
  font-family: $font-family-mono;
}
